@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@keyframes animate-translate {
  100% {
     transform: translateY(40px);
     opacity: 100%;
  }
  0% {
     transform: translateY(0);
     opacity: 0%;
  }
}

.bg-bubbles li {
  animation: square ease 20s infinite;
  bottom: -50px;

}

.bg-bubbles li:nth-child(2) {
  animation: square ease 17s infinite;
  animation-delay: 2s;
}

.bg-bubbles li:nth-child(3) {
  animation: square ease 20s infinite;
  animation-delay: 4s;
}

.bg-bubbles li:nth-child(4) {
  animation: square ease 22s infinite;
}

.bg-bubbles li:nth-child(6) {
  animation: square ease 20s infinite;
  animation-delay: 3s;
}

.bg-bubbles li:nth-child(7) {
  animation: square ease 20s infinite;
  animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
  animation: square ease 40s infinite;
  animation-delay: 15s;
}

.bg-bubbles li:nth-child(9) {
  animation: square ease 40s infinite;
  animation-delay: 2s;
}

.bg-bubbles li:nth-child(10) {
  animation: square ease 20s infinite;
  animation-delay: 11s;
}

@keyframes square {
  0% {
     transform: translateY(0);
  }
  100% {
     transform: translateY(-1000px) rotate(600deg);
  }
}



/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}